@charset "UTF-8";
header {
  box-shadow: 0 10px 25px 0 #f3f3f3;
}

.home-price .btn-registration {
  color: #fff;
  background: linear-gradient(to right, #2ad38b, #0cceb0);
  border-radius: 45px;
  display: inline-block;
  outline: none;
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  white-space: nowrap;
  transition: all 0.5s ease;
}
.home-price .packages {
  padding-bottom: 57px;
}
.home-price .packages h1 {
  font-size: 42px;
  line-height: 1.2;
  font-weight: 300;
  margin: 41px 0 8px;
}
.home-price .packages p {
  font-size: 20px;
  line-height: 24px;
  font-weight: 300;
  margin: 0 0 55px;
}
.home-price .packages .notice {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  margin: 0;
}
.home-price .packages .item {
  border: 1px solid #ededed;
  border-radius: 7px;
  box-shadow: 0 20px 43px 0 rgba(20, 42, 87, 0.06);
  margin: 0 0 44px;
  background-repeat: no-repeat;
  background-position: bottom center;
  background-color: #fff;
  padding: 39px 30px;
  position: relative;
}
.home-price .packages .item h2 {
  font-size: 40px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 1.2;
  margin: 0 0 7px;
}
.home-price .packages .item p {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  position: relative;
  padding: 0 0 25px;
  margin: 0 0 33px;
}
.home-price .packages .item p:after {
  content: "";
  position: absolute;
  width: 83px;
  height: 2px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.home-price .packages .item strong {
  font-size: 16px;
  line-height: 24px;
  color: #7d8492;
  font-weight: bold;
  display: block;
  margin: 7px 0 12px;
}
.home-price .packages .item .price {
  margin: 0 0 23px;
  height: 66px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  line-height: 1;
}
.home-price .packages .item .price .price-regular {
  font-size: 37px;
  font-weight: 400;
  display: initial;
}
.home-price .packages .item .price span {
  font-size: 20px;
  margin: 2px 0 0;
  font-weight: 300;
  line-height: 24px;
}
.home-price .packages .item .price sub {
  top: -8px;
  font-size: 70%;
}
.home-price .packages .item .btn-registration {
  position: absolute;
  bottom: 31px;
  left: 91px;
  height: 44px;
  line-height: 44px;
  background: #fff;
  color: #08f;
  font-size: 18px;
  width: 150px;
  text-decoration: none;
}
.home-price .packages .item .btn-registration:before {
  content: "";
  border-radius: 45px;
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.04);
  transform: scaleX(0);
  transform-origin: 50%;
  transition: all 0.5s ease-out;
}
.home-price .packages .item ul {
  margin: 0;
  padding: 0 0 64px;
  list-style: none;
}
.home-price .packages .item ul li {
  position: relative;
  font-size: 16px;
  color: #7d8492;
  padding: 14px 0 13px;
}
.home-price .packages .item ul li:after {
  content: "";
  border-top: 1px solid #f5f5f5;
  position: absolute;
  width: 232px;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}
.home-price .packages .web {
  background-image: url(../image/price-table/bg-package-web.png);
}
.home-price .packages .web .btn-registration {
  height: 44px;
  line-height: 44px;
  background: #fff;
  font-size: 18px;
  width: 150px;
  color: #22db86;
  margin-left: 13%;
}
.home-price .packages .go {
  background-image: url(../image/price-table/bg-package-go.png);
}
.home-price .packages .go .btn-registration {
  height: 44px;
  line-height: 44px;
  background: #fff;
  font-size: 18px;
  width: 150px;
  color: #37b3ae;
  margin-left: 13%;
}
.home-price .packages .fnb {
  background-image: url(../image/price-table/bg-package-fnb.png);
}
.home-price .packages .fnb .btn-registration {
  height: 44px;
  line-height: 44px;
  background: #fff;
  font-size: 18px;
  width: 150px;
  color: #07c6fa;
  margin-left: 13%;
}
.home-price .packages .omni {
  background-image: url(../image/price-table/bg-package-omni.png);
}
.home-price .packages .omni .btn-registration {
  height: 44px;
  line-height: 44px;
  background: #fff;
  font-size: 18px;
  width: 150px;
  color: #5551fc;
  margin-left: 13%;
}
.home-price .packages .pos {
  background-image: url(../image/price-table/bg-package-pos.png);
  display: flex;
  padding: 44px 0 119px;
}
.home-price .packages .pos .name-price {
  width: 35.777777777%;
  flex-shrink: 0;
}
.home-price .packages .pos .extra-info {
  width: 100%;
  text-align: left;
  padding-right: 95px;
}
.home-price .packages .pos .extra-info ul {
  margin: 0;
  padding: 0;
  height: 204px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}
.home-price .packages .pos .extra-info ul li {
  list-style-type: none;
  width: 213px;
  margin-right: 85px;
  position: relative;
  font-size: 16px;
  color: #7d8492;
  padding: 14px 0 13px;
}
.home-price .packages .pos .extra-info ul li:before {
  content: "";
  width: 16px;
  height: 11px;
  position: absolute;
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
  background: url(../image/price-table/icon-checked-blue.svg) no-repeat center center;
  background-size: 16px auto;
}
.home-price .packages .pos .extra-info ul li:after {
  width: 185px;
  left: 28px;
  transform: none;
  content: "";
  border-top: 1px solid #f5f5f5;
  position: absolute;
  top: 0;
}
.home-price .packages .pos .extra-info ul li:nth-child(n+4) {
  margin-right: 0;
}
.home-price .packages .pos .extra-info ul .no-icon {
  margin-right: 0;
}
.home-price .packages .pos .extra-info ul .no-icon:before {
  display: none;
}
.home-price .packages .pos .extra-info ul .no-icon:after {
  width: 185px;
  left: 28px;
  transform: none;
  content: "";
  border-top: 1px solid #f5f5f5;
  position: absolute;
  top: 0;
}
.home-price .packages .pos .extra-info ul .no-icon a {
  color: #08f;
  font-size: 14px;
}
.home-price .advisory {
  text-align: center;
  padding: 50px 0;
  color: #fff;
  background: url(../image/price-table/bg-advisory.jpg) no-repeat center center;
}
.home-price .advisory h2 {
  font-size: 42px;
  font-weight: 300;
  line-height: 50px;
  margin: 0 0 15px;
}
.home-price .advisory p {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 25px;
}
.home-price .advisory .btn-registration {
  padding: 0 40px;
  height: 74px;
  line-height: 74px;
  font-size: 28px;
}
.home-price .selling-machine {
  padding: 82px 0 42px;
}
.home-price .selling-machine h2 {
  font-size: 42px;
  font-weight: 300;
  color: #42464e;
  line-height: 1.2;
  margin: 0 0 7px;
}
.home-price .selling-machine p {
  font-size: 20px;
  font-weight: 300;
  color: #7d8492;
  line-height: 24px;
  margin: 0 0 50px;
}
.home-price .selling-machine .nav-tabs {
  border: none;
  justify-content: center;
}
.home-price .selling-machine .nav-tabs .nav-item {
  margin: 0;
  width: 414px;
}
.home-price .selling-machine .nav-tabs .nav-item .nav-link {
  border: none;
  border-radius: 7px 7px 0 0;
  font-size: 16px;
  line-height: 24px;
  padding: 37px 50px;
  border-top: 3px solid #f9f9f9;
}
.home-price .selling-machine .nav-tabs .nav-item .nav-link span {
  display: block;
  font-size: 20px;
  margin: 2px 0 0;
}
.home-price .selling-machine .nav-tabs .nav-item .active {
  background: #fff;
  border-top-color: #417ff1;
  box-shadow: 0 37px 60px 0 #fff, 0 -22px 60px 0 rgba(0, 0, 0, 0.1);
  z-index: 1;
  position: relative;
  color: #2a2d33;
}
.home-price .selling-machine .tab-content {
  border: 2px solid #f3f3f3;
  margin-top: -2px;
  border-radius: 7px;
  background-color: #fff;
  box-shadow: 0 3px 32px 0 rgba(0, 0, 0, 0.06);
  position: relative;
  padding: 44px 0 0;
}
.home-price .selling-machine .tab-content .tab-pane {
  position: relative;
  z-index: 2;
}
.home-price .selling-machine .tab-content .tab-pane .swiper-container {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
}
.home-price .selling-machine .tab-content .tab-pane .swiper-container .swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  box-sizing: content-box;
}
.home-price .selling-machine .tab-content .tab-pane .swiper-container .swiper-wrapper .item {
  border-radius: 5px;
  position: relative;
  text-align: center;
  height: auto;
  padding: 0 25px;
  padding-bottom: 128px;
}
.home-price .selling-machine .tab-content .tab-pane .swiper-container .swiper-wrapper .item h3 {
  font-size: 20px;
  font-weight: bold;
  display: block;
  text-transform: uppercase;
  line-height: 1.2;
  margin: 0 0 17px;
}
.home-price .selling-machine .tab-content .tab-pane .swiper-container .swiper-wrapper .item p {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  margin: 0 0 19px;
}
.home-price .selling-machine .tab-content .tab-pane .swiper-container .swiper-wrapper .item .price {
  font-size: 24px;
  line-height: 34px;
  font-weight: bold;
  color: #428dff;
  margin: 0 0 20px;
  text-align: center;
  padding: 0;
}
.home-price .selling-machine .tab-content .tab-pane .swiper-container .swiper-wrapper .item img {
  margin: 0 0 18px;
  max-width: 100%;
}
.home-price .selling-machine .tab-content .tab-pane .swiper-container .swiper-wrapper .item ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: left;
}
.home-price .selling-machine .tab-content .tab-pane .swiper-container .swiper-wrapper .item ul li {
  display: flex;
  align-items: flex-start;
  font-size: 15px;
  color: #737985;
  line-height: 22px;
  padding: 5px 0 18px;
}
.home-price .selling-machine .tab-content .tab-pane .swiper-container .swiper-wrapper .item ul li:before {
  content: "";
  width: 32px;
  height: 32px;
  background: url(../image/price-table/icon-checked-circle.svg) no-repeat center center;
  background-size: 100% auto;
  flex-shrink: 0;
  margin-right: 18px;
  margin-top: -5px;
}
.home-price .selling-machine .tab-content .tab-pane .swiper-container .swiper-wrapper .item .line {
  width: 290px;
  height: 1px;
  bottom: 113px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background: #f8f8f8;
  max-width: 80%;
}
.home-price .selling-machine .tab-content .tab-pane .swiper-container .swiper-wrapper .item .btn-registration {
  height: 44px;
  line-height: 44px;
  font-size: 18px;
  padding: 0 48px;
  position: absolute;
  bottom: 39px;
  left: 50%;
  color: #fff;
  transform: translateX(-50%);
  background: linear-gradient(to right, #2ad38b, #0cceb0);
  border-radius: 45px;
  display: inline-block;
  transition: all 0.5s ease;
}
.home-price .selling-machine .tab-content .tab-pane .swiper-container .swiper-wrapper .item:before {
  content: "";
  width: 1px;
  background: #efefef;
  right: 0;
  top: 4px;
  position: absolute;
  bottom: 21px;
}
.home-price .selling-machine p {
  color: #7d8492;
  line-height: 24px;
  margin-top: 20px;
}
.home-price .selling-machine .noti {
  font-size: 15px;
  margin: 20px 0 0;
  font-weight: 400;
}
.home-price .sapo-shop {
  text-align: center;
}
.home-price .sapo-shop img {
  max-width: 240px;
  height: 240px;
}
.home-price .sapo-shop p {
  font-size: 20px;
  color: #7d8492;
  font-weight: 300;
  margin: 0 0 5px;
}
.home-price .sapo-shop h2 {
  font-size: 42px;
  font-weight: 300;
  line-height: 1.2;
  color: #42464e;
  margin: 0 0 60px;
}
.home-price .sapo-shop .btn-registration {
  margin-top: 48px;
  margin-bottom: 68px;
  font-size: 18px;
  height: 64px;
  line-height: 64px;
  padding: 0 28px;
  color: #fff;
  background: #2ad38b;
  background: linear-gradient(to right, #2ad38b, #0cceb0);
  border-radius: 45px;
  display: inline-block;
  transform: translateZ(0);
  white-space: nowrap;
  transition: all 0.5s ease;
  text-decoration: none;
}
.home-price .faq h2 {
  font-size: 42px;
  font-weight: 300;
  line-height: 50px;
  margin: 0 0 30px;
  color: #42464e;
  text-align: center;
}
.home-price .faq .question {
  padding: 20px 0;
  border-bottom: 1px solid #ebebeb;
}
.home-price .faq .question h4 {
  color: #42464e;
  font-size: 16px;
  line-height: 24px;
  margin: 0 0;
  position: relative;
  letter-spacing: -0.5px;
  cursor: pointer;
  padding-right: 35px;
}
.home-price .faq .question h4:before {
  content: attr(data-number);
  margin-right: 5px;
}
.home-price .faq .question h4 i {
  position: absolute;
  top: 0;
  right: 0;
  line-height: 24px;
  font-size: 20px;
}
.home-price .faq .question h4 i:before {
  content: "";
}
.home-price .faq .question p {
  font-size: 16px;
  color: #7d8492;
  line-height: 24px;
  margin: 20px 0 5px;
}
.home-price .register-bottom {
  text-align: center;
  padding: 30px 0 45px;
  color: #fff;
  background: url(../image/price-table/bg-register-bottom.jpg) no-repeat top center;
}
.home-price .register-bottom h2 {
  font-size: 42px;
  font-weight: 300;
  line-height: 56px;
  margin: 0 0 10px;
}
.home-price .register-bottom p {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 15px;
}
.home-price .register-bottom .reg-form input {
  width: 500px;
  height: 65px;
  line-height: 65px;
  font-size: 16px;
  color: #575757;
  padding: 0 20px;
  margin-right: 15px;
  border-radius: 38px;
  border: none;
}
.home-price .register-bottom .reg-form .btn-registration {
  height: 65px;
  line-height: 65px;
  padding: 0 45px;
  font-size: 24px;
  color: #fff;
  background: #2ad38b;
  background: linear-gradient(to right, #2ad38b, #0cceb0);
  border-radius: 45px;
  display: inline-block;
  transform: translateZ(0);
  white-space: nowrap;
  transition: all 0.5s ease;
  text-decoration: none;
}

header {
  box-shadow: none;
}

.btn-registration {
  color: #fff;
  background: linear-gradient(to right, #2ad38b, #0cceb0);
  border-radius: 45px;
  display: inline-block;
  line-height: 63px;
  padding: 0 35px;
  outline: none;
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  white-space: nowrap;
  font-size: 16px;
  transition: all 0.5s ease;
}

.customer-sapo .banner {
  background: url(../image/customer/bg-banner.jpg) repeat bottom center;
  padding: 71px 0 89px;
}
.customer-sapo .banner h1 {
  font-size: 42px;
  font-weight: 300;
  line-height: 1.2;
  margin: 0 0 20px;
  color: #fff !important;
}
.customer-sapo .banner h1:after {
  background: none !important;
}
.customer-sapo .banner p {
  font-size: 20px;
  line-height: 24px;
  font-weight: 300;
  margin: 0;
  color: #fff !important;
}
.customer-sapo .customer-story {
  padding-top: 76px;
  padding-bottom: 99px;
}
.customer-sapo .customer-story h2 {
  font-size: 42px;
  font-weight: 300;
  line-height: 1.2;
  margin: 0 0 13px;
}
.customer-sapo .customer-story p {
  font-size: 20px;
  font-weight: 300;
  line-height: 24px;
  margin: 0 0 57px;
}
.customer-sapo .customer-story .item {
  position: relative;
  margin: 0 0 30px;
}
.customer-sapo .customer-story .item .info {
  position: absolute;
  box-shadow: 0 0 32px 0 rgba(0, 47, 88, 0.22);
  background: rgba(255, 255, 255, 0.86);
  height: 100%;
  width: 370px;
  top: 0;
  z-index: 9;
  padding: 20px 38px;
  text-align: justify;
  text-align-last: center;
  display: flex;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
.customer-sapo .customer-story .item .info p {
  font-size: 16px;
  line-height: 26px;
  margin: 0 0 35px;
  max-height: 78px;
  overflow: hidden;
}
.customer-sapo .customer-story .item .info .btn-registration {
  height: 44px;
  line-height: 44px;
  font-size: 18px;
  text-decoration: none;
  color: white;
}
.customer-sapo .customer-story .item:hover .info {
  opacity: 1;
  visibility: unset;
}
.customer-sapo .customer-story .viewMore {
  text-decoration: underline;
  font-size: 18px;
  color: #08f;
  vertical-align: top;
}
.customer-sapo .customer-logo {
  padding: 74px 0 47px;
  background: #f4f4f4;
}
.customer-sapo .customer-logo h2 {
  font-size: 42px;
  font-weight: 300;
  line-height: 1.2;
  margin: 0 0 15px;
}
.customer-sapo .customer-logo p {
  font-size: 20px;
  line-height: 24px;
  color: #4d505b;
  font-weight: 300;
  margin-bottom: 60px;
}
.customer-sapo .customer-logo .item {
  margin-bottom: 35px;
}
.customer-sapo .customer-logo .item a {
  display: inline-block;
  font-size: 18px;
  text-decoration: underline;
  color: #08f;
}
.customer-sapo .customer-logo .item img {
  max-width: 100%;
}

.register-bottom {
  text-align: center;
  padding: 30px 0 45px;
  color: #fff;
  background: url(../image/customer/bg-register-bottom.jpg) repeat top center;
}
.register-bottom h2 {
  font-size: 42px;
  font-weight: 300;
  line-height: 56px;
  margin: 0 0 10px;
}
.register-bottom p {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 15px;
}
.register-bottom .reg-form input {
  width: 500px;
  height: 65px;
  line-height: 65px;
  font-size: 16px;
  color: #575757;
  padding: 0 20px;
  margin-right: 15px;
  border-radius: 38px;
  border: none;
  outline: none;
}
.register-bottom .reg-form .btn-registration {
  height: 65px;
  line-height: 65px;
  padding: 0 45px;
  font-size: 24px;
}

.btn-registration {
  color: #fff;
  background: #2ad38b;
  background: linear-gradient(to right, #2ad38b, #0cceb0);
  border-radius: 45px;
  display: inline-block;
  line-height: 63px;
  padding: 0 35px;
  outline: none;
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  white-space: nowrap;
  font-size: 16px;
  transition: all 0.5s ease;
}

.login-sapo {
  border-top: 1px solid #efefef;
  padding: 99px 0 14px;
  text-align: center;
  position: relative;
}
.login-sapo h1 {
  font-size: 42px;
  font-weight: 300;
  color: #000;
  margin: 0 0 13px;
}
.login-sapo p {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 48px;
  color: #42464e;
}
.login-sapo .login-channel .image {
  height: 82px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin: 0 0 27px;
}
.login-sapo .login-channel .btn-registration {
  font-size: 16px;
  font-weight: 400;
  width: 180px;
  padding: 0 10px;
  height: 45px;
  line-height: 45px;
  outline: none;
  background-image: -ms-linear-gradient(0deg, #2ad38c 0%, #0cceb0 100%);
  text-decoration: none;
  color: white;
}
.login-sapo .scroll-down {
  position: absolute;
  bottom: -80px;
  left: 50%;
  transform: translateX(-50%);
  text-decoration: none;
}
.login-sapo .scroll-down i {
  animation: bounce 2s infinite;
  font-size: 28px;
  display: block;
}

.affiliate {
  background: url(../image/login/bg-page.jpg) no-repeat bottom center;
  padding: 206px 0 217px;
}
.affiliate p {
  color: #000;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.2;
  margin: 0 0 15px;
}
.affiliate h2 {
  font-size: 32px;
  font-weight: bold;
  color: #2f9dff;
  line-height: 1.2;
  margin: 0 0 88px;
}
.affiliate .block-content {
  text-align: left;
}
.affiliate .block-content p {
  line-height: 32px;
  margin: 0 0 15px;
}
.affiliate .block-content .price {
  text-transform: uppercase;
  font-size: 21px;
  line-height: 1.2;
  color: #2f9dff;
  font-weight: bold;
  margin: 0 0 45px;
}
.affiliate .block-content .price span {
  display: block;
  text-transform: initial;
  font-weight: 900;
  font-size: 82px;
  line-height: 1;
  letter-spacing: 4px;
  margin: 0 0 10px;
}
.affiliate .block-content .btn-registration {
  height: 60px;
  line-height: 60px;
  width: 230px;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  text-decoration: none;
}

@media only screen and (max-width: 767px) {
  /* For mobile phones: */
  #wrapper .banner h1 {
    font-size: 24px;
    line-height: 38px;
  }
  #wrapper .banner p {
    font-size: 20px;
  }
  #wrapper .banner .btn-registration {
    font-size: 16px;
    height: 60px;
    line-height: 60px;
  }
  #wrapper .slogan h2 {
    font-size: 24px;
    line-height: 38px;
  }
  #wrapper .slogan .content img {
    height: 60px;
  }
  #wrapper .slogan .content p {
    font-size: 20px;
    margin: 0 !important;
  }
  #wrapper .slogan .content span {
    font-size: 15px;
  }
  #wrapper footer .footer-address .contact-info {
    font-size: 12px;
  }
  #wrapper footer .footer-address a {
    font-size: 12px;
  }
  #wrapper footer .footer-bct-hanggia {
    display: none;
  }
  #wrapper footer .footer-bct {
    right: 20px;
    top: 350px;
  }
  #wrapper footer .footer-bct .show {
    height: 20px;
  }

  .news-aboutus .source-item img {
    width: 40px;
    height: 15px;
  }

  .customer-sapo .customer-story h2 {
    font-size: 28px;
  }
  .customer-sapo .customer-logo h2 {
    font-size: 28px;
  }

  .register-bottom h2 {
    font-size: 28px;
    line-height: 40px;
  }
  .register-bottom p {
    font-size: 18px;
    line-height: 30px;
  }

  .register-bottom .reg-form .btn-registration {
    height: 60px;
    line-height: 60px;
    margin-top: 20px;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
}

header {
  position: relative;
  z-index: 1000;
}
header .main-header {
  height: 85px;
  z-index: 2;
}
header .main-header ul li a:hover {
  color: #00afe6;
}
header .main-header .main-logo img {
  height: 54px;
}
header .main-header .align-items-center {
  margin: 0;
  padding: 0;
  list-style: none;
  align-items: center !important;
}
header .main-header .align-items-center li {
  margin-left: 40px;
  position: relative;
}
header .main-header .align-items-center li:hover .childMenu {
  display: block;
}
header .main-header .align-items-center li a {
  line-height: 85px;
  font-size: 16px;
  font-weight: bold;
  color: #444445;
  text-decoration: none;
}
header .main-header .align-items-center .childMenu {
  display: none;
  box-shadow: 0 0 12.22px 0.78px rgba(0, 0, 0, 0.11);
  background: #fff;
  position: absolute;
  top: 100%;
  z-index: 9;
  border-top: 1px solid #179eff;
  min-width: 185px;
}
header .main-header .align-items-center .childMenu:after {
  bottom: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(23, 158, 255, 0);
  border-bottom-color: #179eff;
  border-width: 9px;
}
header .main-header .align-items-center .childMenu li {
  list-style-type: none;
  margin: 0px;
}
header .main-header .align-items-center .childMenu li a {
  line-height: 1.4;
  padding: 10px 15px;
  font-weight: 400;
}
header .main-header .align-items-center .childMenu li a .badge {
  font-size: 11px;
  color: #fff;
  text-transform: uppercase;
  background: #ff8da2;
  border-radius: 3px;
  font-weight: bold;
  vertical-align: top;
  margin: -5px 0 0 7px;
}
header .main-header .align-items-center .product {
  width: 378px;
  left: -222px;
  height: 316px;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 16px 25px 26px;
}
header .main-header .align-items-center .product:after {
  left: 250px;
}
header .main-header .align-items-center .product li {
  width: 312px;
  margin: 0 4px 4px 0;
}
header .main-header .align-items-center .product li a {
  border-radius: 3px;
  padding: 12px 14px 9px 16px;
  background: none;
}
header .main-header .align-items-center .product li a img {
  width: 27px;
  height: 31px;
  background-size: 100% auto;
  background-repeat: no-repeat;
  flex-shrink: 0;
  margin-top: 4px;
  margin-right: 12px;
}
header .main-header .align-items-center .product li a strong {
  display: block;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  color: #383839;
  margin: 0 0 6px;
}
header .main-header .align-items-center .product li a p {
  font-size: 14px;
  line-height: 20px;
  color: #8f8f8f;
  height: 40px;
  overflow: hidden;
  margin: 0;
}
header .main-header .justify-content-end {
  margin-bottom: 0;
  justify-content: flex-end !important;
}
header .main-header .justify-content-end li {
  margin-left: 40px;
  position: relative;
  list-style-type: none;
}
header .main-header .justify-content-end li a {
  line-height: 85px;
  display: block;
  font-size: 16px;
  font-weight: bold;
  color: #444445;
  text-decoration: none;
}
header .main-header .justify-content-end li .btn-registration {
  height: 42px;
  padding: 2px;
  font-size: 16px;
  color: #26b896;
  font-weight: bold;
  background: linear-gradient(to right, #2ad38b, #0cceb0);
  border-radius: 45px;
  outline: none;
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  white-space: nowrap;
}
header .main-header .justify-content-end li .btn-registration span {
  display: block;
  height: 38px;
  line-height: 38px;
  background: #fff;
  padding: 0 34px;
  border-radius: 20px;
  transition: all 0.5s ease;
  color: #26b896;
}
header .main-header .justify-content-end li .btn-registration span:hover {
  background-color: #2ad38b;
  color: white;
}
header .main-header .justify-content-end .login a {
  font-weight: 400;
}

.banner {
  padding: 68px 0 318px;
  overflow: hidden;
  position: relative;
  background-image: url("../image/bg-banner-desktop.jpg");
}
.banner h1 {
  margin: 0 0 30px;
  padding: 0 0 25px;
  font-weight: 300;
  color: #363636;
  font-size: 46px;
  line-height: 1.2;
  position: relative;
}
.banner h1:after {
  content: "";
  width: 100px;
  height: 3px;
  background: linear-gradient(to right, #2ad38b, #0cceb0);
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.banner p {
  font-size: 21px;
  color: #3a3a3a;
  font-weight: 300;
  margin-bottom: 40px;
  line-height: 1.2;
}
.banner .btn-registration {
  font-size: 28px;
  line-height: 74px;
  font-weight: bold;
  height: 74px;
  padding: 0 50px;
  position: relative;
  z-index: 2;
  box-shadow: 0 2px 29.12px 2.88px rgba(0, 0, 0, 0.14);
  color: #fff;
  background: #2ad38b;
  background: linear-gradient(to right, #2ad38b, #0cceb0);
  border-radius: 45px;
  display: inline-block;
  outline: none;
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  white-space: nowrap;
  transition: all 0.5s ease;
}
.banner .btn-registration:hover {
  text-decoration: none;
}

.solution {
  padding-top: 80px;
}
.solution h2 {
  font-size: 40px;
  font-weight: 300;
  color: #42464e;
  line-height: 1.2;
  margin: 0 0 7px;
}
.solution p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.solution .item {
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 5px 62px 0 rgba(2, 55, 102, 0.09);
  padding: 51px 30px 74px;
  height: 100%;
  text-align: left;
}
.solution .item .title {
  display: flex;
  align-items: flex-start;
  margin: 0 0 16px;
}
.solution .item .title img {
  width: 64px;
  height: 70px;
  flex-shrink: 0;
  margin: 6px 24px 0 0;
  cursor: pointer;
}
.solution .item .title h3 {
  text-transform: uppercase;
  font-size: 19px;
  font-weight: bold;
  color: #606672;
  line-height: 1.2;
  margin: 0 0 12px;
}
.solution .item .title h3 a {
  color: inherit;
  text-decoration: none;
}
.solution .item .title p {
  font-size: 15px;
  line-height: 24px;
  font-weight: 500;
  color: #606672;
  margin: 0;
}
.solution .item .content p {
  font-size: 15px;
  line-height: 24px;
  color: #8f8f8f;
  font-weight: 400;
  margin: 0 0 35px;
}
.solution .item .btn-registration {
  font-size: 16px;
  height: 38px;
  line-height: 38px;
  color: #42464e;
  background: #fff;
  padding: 0 23px;
  box-shadow: inset 0 0 0 1px #42464e;
  transition: none;
  position: absolute;
  bottom: 36px;
  border-radius: 45px;
  display: inline-block;
  transform: translateZ(0);
}
.solution .item .btn-registration:hover {
  background-image: linear-gradient(0deg, #007bfa 8%, #00afe6 89%);
  color: #ffffff;
  text-decoration: none;
  box-shadow: none;
}
.solution .item .btn-registration .fa-arrow-right {
  width: 12px;
  height: 9px;
  margin-left: 1px;
  display: inline-block;
}
.solution .solution-info {
  margin-bottom: 30px;
}

.customers {
  padding: 21px 0 40px;
  background: url(../image/bg-customers.jpg) repeat bottom center;
}
.customers h2 {
  font-size: 40px;
  font-weight: 300;
  color: #42464e;
  line-height: 1.2;
  margin: 0 0 7px;
}
.customers p {
  font-size: 21px;
  color: #42464e;
  line-height: 1.2;
  font-weight: 300;
  margin-bottom: 50px;
}
.customers .customer-item {
  margin-bottom: 35px;
  flex: 0 0 50%;
  max-width: 20%;
}
.customers .customer-item a {
  display: inline-block;
  font-size: 18px;
  text-decoration: underline;
  color: #08f;
}
.customers .customer-item img {
  max-width: 100%;
}

.news-aboutus h2 {
  text-align: center;
  font-size: 40px;
  font-weight: 300;
  line-height: 1.2;
  margin: 0 0 35px;
}
.news-aboutus .news-sources {
  border-top: 1px solid #e6e6e6;
  text-align: center;
}
.news-aboutus .news-sources .source-item {
  border-left: 1px dashed #dbdbdb;
  height: 90px;
  line-height: 90px;
}
.news-aboutus .news-sources .source-item img {
  filter: grayscale(100%);
  opacity: 0.6;
  vertical-align: middle;
}
.news-aboutus .news-sources .source-item img:hover {
  filter: unset;
  opacity: 1;
}

.slogan {
  color: #fff;
  background: url(../image/bg-slogan.jpg) repeat center top;
  padding: 80px 0 40px;
}
.slogan h2 {
  font-size: 42px;
  font-weight: 300;
  line-height: 1.2;
  margin: 0 0 6px;
}
.slogan p {
  font-size: 20px;
  font-weight: 300;
  line-height: 1.2;
  margin-bottom: 59px;
}
.slogan .content p {
  margin: 35px 0 20px;
  font-size: 60px;
  font-weight: 300;
  line-height: 40px;
}
.slogan .content span {
  font-size: 20px;
  font-weight: 300;
}

footer {
  background-color: #101215;
  color: #7d8492;
}
footer .title {
  color: #d1d3d6;
  font-size: 15px;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 10px;
  line-height: 21px;
}
footer .footer-menu {
  padding-top: 36px;
  padding-bottom: 35px;
  margin-bottom: 30px;
}
footer .footer-menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
footer .footer-menu ul li {
  padding-bottom: 5px;
  padding-top: 5px;
  font-size: 14px;
}
footer .footer-menu ul li a {
  color: #7d8492;
  display: inline-block;
  font-size: 14px;
}
footer .footer-address ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
footer .footer-address ul li {
  padding-bottom: 5px;
  padding-top: 5px;
  font-size: 14px;
}
footer .footer-address ul li a {
  color: #7d8492;
  display: inline-block;
  font-size: 14px;
}
footer .footer-address .social {
  font-size: 0;
  margin-top: -37px;
  margin-left: 100px;
}
footer .footer-address .social li {
  display: inline-block;
  margin-right: 7px;
  margin-left: 10px;
  padding: 0;
}
footer .footer-address .social li a {
  font-size: 26px;
  color: #d1d3d6;
  font-weight: 500;
  line-height: 21px;
  padding: 0;
  display: block;
  margin-bottom: 10px;
}
footer .footer-address .footer-bct-hanggia {
  position: absolute;
  right: 200px;
  bottom: -10px;
  padding-bottom: 5px;
  padding-top: 5px;
}
footer .footer-address .footer-bct-hanggia img {
  height: 44px;
}
footer .footer-address .footer-bct {
  position: absolute;
  right: 50px;
  bottom: -7px;
  padding-bottom: 5px;
  padding-top: 5px;
}
footer .footer-copyright {
  margin-top: 20px;
  background-color: #101215;
  color: #7d8492;
  padding: 5px 0;
  border-top: 1px solid #24282e;
  font-size: 13px;
}
footer .footer-copyright .achievement span img {
  height: 28px;
}