@media only screen and (max-width: 767px) {
  /* For mobile phones: */
  #wrapper {
    .banner {
      h1 {
        font-size: 24px;
        line-height: 38px;
      }

      p {
        font-size: 20px;
      }

      .btn-registration {
        font-size: 16px;
        height: 60px;
        line-height: 60px;
      }
    }

    .slogan {
      h2 {
        font-size: 24px;
        line-height: 38px;
      }

      .content {
        img {
          height: 60px;
        }

        p {
          font-size: 20px;
          margin: 0 !important;
        }

        span {
          font-size: 15px;
        }
      }
    }

    footer {
      .footer-address {
        .contact-info {
          font-size: 12px;
        }

        a {
          font-size: 12px;
        }
      }

      .footer-bct-hanggia {
        display: none;
      }

      .footer-bct {
        right: 20px;
        top: 350px;

        .show {
          height: 20px;
        }
      }
    }
  }

  .news-aboutus {
    .source-item {
      img {
        width: 40px;
        height: 15px;
      }
    }
  }

  .customer-sapo {
    .customer-story {
      h2 {
        font-size: 28px;
      }
    }

    .customer-logo {
      h2 {
        font-size: 28px;
      }
    }

  }

  .register-bottom {
    h2 {
      font-size: 28px;
      line-height: 40px;
    }

    p {
      font-size: 18px;
      line-height: 30px;
    }
  }

  .register-bottom {
    .reg-form {
      .btn-registration {
        height: 60px;
        line-height: 60px;
        margin-top: 20px;
      }
    }
  }

  .affiliate {
    padding: 30px 0;

    .block-content {
      .price {
        text-align: center;

        span {
          font-weight: 500;
          font-size: 32px;
        }
      }

      p {
        display: none;
      }

      .btn-registration {
        margin: 0 auto;
        display: block;
      }
    }

    h2 {
      font-size: 24px;
      margin-bottom: 20px;
    }
  }

  .login-sapo {
    padding: 30px 0;

    h1 {
      font-size: 32px;
    }
  }
}
