header {
  box-shadow: 0 10px 25px 0 #f3f3f3;
}

.home-price {
  .btn-registration {
    color: #fff;
    background: linear-gradient(to right, #2ad38b, #0cceb0);
    border-radius: 45px;
    display: inline-block;
    outline: none;
    transform: translateZ(0);
    backface-visibility: hidden;
    white-space: nowrap;
    transition: all .5s ease;
  }

  .packages {
    padding-bottom: 57px;

    h1 {
      font-size: 42px;
      line-height: 1.2;
      font-weight: 300;
      margin: 41px 0 8px;
    }

    p {
      font-size: 20px;
      line-height: 24px;
      font-weight: 300;
      margin: 0 0 55px;
    }

    .notice {
      font-size: 16px;
      line-height: 24px;
      font-weight: 400;
      margin: 0;
    }

    .item {
      border: 1px solid #ededed;
      border-radius: 7px;
      box-shadow: 0 20px 43px 0 rgba(20, 42, 87, .06);
      margin: 0 0 44px;
      background-repeat: no-repeat;
      background-position: bottom center;
      background-color: #fff;
      padding: 39px 30px;
      position: relative;

      h2 {
        font-size: 40px;
        font-weight: 900;
        text-transform: uppercase;
        line-height: 1.2;
        margin: 0 0 7px;
      }

      p {
        font-size: 16px;
        line-height: 22px;
        font-weight: 400;
        position: relative;
        padding: 0 0 25px;
        margin: 0 0 33px;

        &:after {
          content: "";
          position: absolute;
          width: 83px;
          height: 2px;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
        }
      }

      strong {
        font-size: 16px;
        line-height: 24px;
        color: #7d8492;
        font-weight: bold;
        display: block;
        margin: 7px 0 12px;
      }

      .price {
        margin: 0 0 23px;
        height: 66px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        line-height: 1;

        .price-regular {
          font-size: 37px;
          font-weight: 400;
          display: initial;

        }

        span {
          font-size: 20px;
          margin: 2px 0 0;
          font-weight: 300;
          line-height: 24px;
        }

        sub {
          top: -8px;
          font-size: 70%;
        }
      }

      .btn-registration {
        position: absolute;
        bottom: 31px;
        left: 91px;
        height: 44px;
        line-height: 44px;
        background: #fff;
        color: #08f;
        font-size: 18px;
        width: 150px;
        text-decoration: none;

        &:before {
          content: "";
          border-radius: 45px;
          position: absolute;
          z-index: -1;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          background: rgba(0, 0, 0, .04);
          transform: scaleX(0);
          transform-origin: 50%;
          transition: all .5s ease-out;
        }
      }


      ul {
        margin: 0;
        padding: 0 0 64px;
        list-style: none;

        li {
          position: relative;
          font-size: 16px;
          color: #7d8492;
          padding: 14px 0 13px;

          &:after {
            content: "";
            border-top: 1px solid #f5f5f5;
            position: absolute;
            width: 232px;
            left: 50%;
            top: 0;
            transform: translateX(-50%)
          }
        }
      }
    }

    .web {
      background-image: url(../image/price-table/bg-package-web.png);

      .btn-registration {
        height: 44px;
        line-height: 44px;
        background: #fff;
        font-size: 18px;
        width: 150px;
        color: #22db86;
        margin-left: 13%;
      }
    }

    .go {
      background-image: url(../image/price-table/bg-package-go.png);

      .btn-registration {
        height: 44px;
        line-height: 44px;
        background: #fff;
        font-size: 18px;
        width: 150px;
        color: #37b3ae;
        margin-left: 13%;
      }
    }

    .fnb {
      background-image: url(../image/price-table/bg-package-fnb.png);

      .btn-registration {
        height: 44px;
        line-height: 44px;
        background: #fff;
        font-size: 18px;
        width: 150px;
        color: #07c6fa;
        margin-left: 13%;
      }
    }

    .omni {
      background-image: url(../image/price-table/bg-package-omni.png);

      .btn-registration {
        height: 44px;
        line-height: 44px;
        background: #fff;
        font-size: 18px;
        width: 150px;
        color: #5551fc;
        margin-left: 13%;
      }
    }

    .pos {
      background-image: url(../image/price-table/bg-package-pos.png);
      display: flex;
      padding: 44px 0 119px;

      .name-price {
        width: 35.777777777%;
        flex-shrink: 0;
      }

      .extra-info {
        width: 100%;
        text-align: left;
        padding-right: 95px;

        ul {
          margin: 0;
          padding: 0;
          height: 204px;
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          width: 100%;
          justify-content: space-between;

          li {
            list-style-type: none;
            width: 213px;
            margin-right: 85px;
            position: relative;
            font-size: 16px;
            color: #7d8492;
            padding: 14px 0 13px;

            &:before {
              content: "";
              width: 16px;
              height: 11px;
              position: absolute;
              left: -20px;
              top: 50%;
              transform: translateY(-50%);
              background: url(../image/price-table/icon-checked-blue.svg) no-repeat center center;
              background-size: 16px auto;
            }

            &:after {
              width: 185px;
              left: 28px;
              transform: none;
              content: "";
              border-top: 1px solid #f5f5f5;
              position: absolute;
              top: 0;
            }

            &:nth-child(n+4) {
              margin-right: 0;
            }
          }

          .no-icon {
            margin-right: 0;

            &:before {
              display: none;
            }

            &:after {
              width: 185px;
              left: 28px;
              transform: none;
              content: "";
              border-top: 1px solid #f5f5f5;
              position: absolute;
              top: 0;
            }

            a {
              color: #08f;
              font-size: 14px;
            }
          }
        }
      }
    }
  }

  .advisory {
    text-align: center;
    padding: 50px 0;
    color: #fff;
    background: url(../image/price-table/bg-advisory.jpg) no-repeat center center;

    h2 {
      font-size: 42px;
      font-weight: 300;
      line-height: 50px;
      margin: 0 0 15px;
    }

    p {
      font-size: 20px;
      font-weight: 300;
      margin-bottom: 25px;
    }

    .btn-registration {
      padding: 0 40px;
      height: 74px;
      line-height: 74px;
      font-size: 28px;
    }
  }

  .selling-machine {
    padding: 82px 0 42px;

    h2 {
      font-size: 42px;
      font-weight: 300;
      color: #42464e;
      line-height: 1.2;
      margin: 0 0 7px;
    }

    p {
      font-size: 20px;
      font-weight: 300;
      color: #7d8492;
      line-height: 24px;
      margin: 0 0 50px;
    }

    .nav-tabs {
      border: none;
      justify-content: center;

      .nav-item {
        margin: 0;
        width: 414px;

        .nav-link {
          border: none;
          border-radius: 7px 7px 0 0;
          font-size: 16px;
          line-height: 24px;
          padding: 37px 50px;
          border-top: 3px solid #f9f9f9;

          span {
            display: block;
            font-size: 20px;
            margin: 2px 0 0;
          }


        }

        .active {
          background: #fff;
          border-top-color: #417ff1;
          box-shadow: 0 37px 60px 0 #fff, 0 -22px 60px 0 rgba(0, 0, 0, .1);
          z-index: 1;
          position: relative;
          color: #2a2d33;
        }

      }
    }

    .tab-content {
      border: 2px solid #f3f3f3;
      margin-top: -2px;
      border-radius: 7px;
      background-color: #fff;
      box-shadow: 0 3px 32px 0 rgba(0, 0, 0, .06);
      position: relative;
      padding: 44px 0 0;

      .tab-pane {
        position: relative;
        z-index: 2;

        .swiper-container {
          margin: 0 auto;
          position: relative;
          overflow: hidden;
          list-style: none;
          padding: 0;
          z-index: 1;

          .swiper-wrapper {
            position: relative;
            width: 100%;
            height: 100%;
            z-index: 1;
            display: flex;
            box-sizing: content-box;

            .item {
              border-radius: 5px;
              position: relative;
              text-align: center;
              height: auto;
              padding: 0 25px;
              padding-bottom: 128px;

              h3 {
                font-size: 20px;
                font-weight: bold;
                display: block;
                text-transform: uppercase;
                line-height: 1.2;
                margin: 0 0 17px;
              }

              p {
                font-size: 16px;
                line-height: 22px;
                font-weight: 400;
                margin: 0 0 19px;
              }

              .price {
                font-size: 24px;
                line-height: 34px;
                font-weight: bold;
                color: #428dff;
                margin: 0 0 20px;
                text-align: center;
                padding: 0;
              }

              img {
                margin: 0 0 18px;
                max-width: 100%;
              }

              ul {
                margin: 0;
                padding: 0;
                list-style: none;
                text-align: left;

                li {
                  display: flex;
                  align-items: flex-start;
                  font-size: 15px;
                  color: #737985;
                  line-height: 22px;
                  padding: 5px 0 18px;

                  &:before {
                    content: "";
                    width: 32px;
                    height: 32px;
                    background: url(../image/price-table/icon-checked-circle.svg) no-repeat center center;
                    background-size: 100% auto;
                    flex-shrink: 0;
                    margin-right: 18px;
                    margin-top: -5px;
                  }
                }
              }

              .line {
                width: 290px;
                height: 1px;
                bottom: 113px;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                background: #f8f8f8;
                max-width: 80%;
              }

              .btn-registration {
                height: 44px;
                line-height: 44px;
                font-size: 18px;
                padding: 0 48px;
                position: absolute;
                bottom: 39px;
                left: 50%;
                color: #fff;
                transform: translateX(-50%);
                background: linear-gradient(to right, #2ad38b, #0cceb0);
                border-radius: 45px;
                display: inline-block;
                transition: all .5s ease;
              }

              &:before {
                content: "";
                width: 1px;
                background: #efefef;
                right: 0;
                top: 4px;
                position: absolute;
                bottom: 21px;
              }
            }
          }
        }
      }
    }

    p {
      color: #7d8492;
      line-height: 24px;
      margin-top: 20px;
    }

    .noti {
      font-size: 15px;
      margin: 20px 0 0;
      font-weight: 400;
    }
  }

  .sapo-shop {
    text-align: center;

    img {
      max-width: 240px;
      height: 240px;
    }

    p {
      font-size: 20px;
      color: #7d8492;
      font-weight: 300;
      margin: 0 0 5px;
    }

    h2 {
      font-size: 42px;
      font-weight: 300;
      line-height: 1.2;
      color: #42464e;
      margin: 0 0 60px;
    }

    .btn-registration {
      margin-top: 48px;
      margin-bottom: 68px;
      font-size: 18px;
      height: 64px;
      line-height: 64px;
      padding: 0 28px;
      color: #fff;
      background: #2ad38b;
      background: linear-gradient(to right, #2ad38b, #0cceb0);
      border-radius: 45px;
      display: inline-block;
      transform: translateZ(0);
      white-space: nowrap;
      transition: all .5s ease;
      text-decoration: none;
    }
  }

  .faq {
    h2 {
      font-size: 42px;
      font-weight: 300;
      line-height: 50px;
      margin: 0 0 30px;
      color: #42464e;
      text-align: center;
    }

    .question {
      padding: 20px 0;
      border-bottom: 1px solid #ebebeb;

      h4 {
        color: #42464e;
        font-size: 16px;
        line-height: 24px;
        margin: 0 0;
        position: relative;
        letter-spacing: -.5px;
        cursor: pointer;
        padding-right: 35px;

        &:before {
          content: attr(data-number);
          margin-right: 5px;
        }

        i {
          position: absolute;
          top: 0;
          right: 0;
          line-height: 24px;
          font-size: 20px;

          &:before {
            content: "ï„‡";
          }
        }
      }

      p {
        font-size: 16px;
        color: #7d8492;
        line-height: 24px;
        margin: 20px 0 5px;
      }
    }
  }

  .register-bottom {
    text-align: center;
    padding: 30px 0 45px;
    color: #fff;
    background: url(../image/price-table/bg-register-bottom.jpg) no-repeat top center;

    h2 {
      font-size: 42px;
      font-weight: 300;
      line-height: 56px;
      margin: 0 0 10px;
    }

    p {
      font-size: 20px;
      font-weight: 300;
      margin-bottom: 15px;
    }

    .reg-form {
      input {
        width: 500px;
        height: 65px;
        line-height: 65px;
        font-size: 16px;
        color: #575757;
        padding: 0 20px;
        margin-right: 15px;
        border-radius: 38px;
        border: none;
      }

      .btn-registration {
        height: 65px;
        line-height: 65px;
        padding: 0 45px;
        font-size: 24px;
        color: #fff;
        background: #2ad38b;
        background: linear-gradient(to right, #2ad38b, #0cceb0);
        border-radius: 45px;
        display: inline-block;
        transform: translateZ(0);
        white-space: nowrap;
        transition: all .5s ease;
        text-decoration: none;
      }
    }
  }

}





