<div class="footer-menu">
    <div class="container">
        <div class="row">
            <div class="col-lg col-md-4 col-6">
                <div class="title">Sapo.vn</div>
                <ul>
                    <li>
                        <a href="/ve-chung-toi.html">Về chúng tôi</a>
                    </li>
                    <li>
                        <a href="/sapo-la-gi.html">Sapo là gì ?</a>
                    </li>
                    <li>
                        <a href="/bang-gia.html">Bảng giá</a>
                    </li>
                    <li>
                        <a href="https://themes.sapo.vn/" target="_blank">Kho giao diện</a>
                    </li>
                    <li>
                        <a href="https://apps.sapo.vn/" target="_blank">Kho ứng dụng web</a>
                    </li>
                    <li>
                        <a href="//tuyendung.sapo.vn/?utm_campaign=cpn:tuyen_dung-plm:footer&amp;utm_source=sapo.vn&amp;utm_medium=referral&amp;utm_content=fm:text_link-km:-sz:&amp;utm_term=&amp;campaign=footer_sapo"
                           target="_blank">Tuyển dụng</a>
                    </li>
                    <li>
                        <a href="/profile" target="_blank">Profile</a>
                    </li>

                </ul>
            </div>
            <div class="col-lg col-md-4 col-6">
                <div class="title">Kênh bán hàng</div>
                <ul>
                    <li>
                        <a href="/phan-mem-quan-ly-ban-hang.html" rel="nofollow">Bán hàng tại cửa hàng</a>
                    </li>
                    <li>
                        <a href="/thiet-ke-website-ban-hang.html" rel="nofollow">Bán hàng trên website</a>
                    </li>
                    <li>
                        <a href="/ban-hang-tren-facebook.html">Bán hàng trên Facebook</a>
                    </li>
                    <li>
                        <a href="/ban-hang-tren-lazada.html">Bán hàng trên Lazada</a>
                    </li>
                    <li>
                        <a href="/omnichannel.html">Bán hàng đa kênh Omnichannel</a>
                    </li>
                    <li>
                        <a href="/ban-hang-tren-shopee.html">Bán hàng trên Shopee</a>
                    </li>
                    <li>
                        <a href="/ban-hang-tren-sendo.html">Bán hàng trên Sendo</a>
                    </li>
                </ul>
            </div>
            <hr style="border-top-color: #2b2a32; width: 100%; margin: 25px 0 30px;" class="d-block d-md-none">
            <div class="col-lg col-md-4 col-6">
                <div class="title">Thiết kế website bán hàng</div>
                <ul>
                    <li>
                        <a href="/thiet-ke-web-thoi-trang.html">Thiết kế web thời trang</a>
                    </li>
                    <li>
                        <a href="/thiet-ke-web-my-pham.html">Thiết kế web mỹ phẩm</a>
                    </li>
                    <li>
                        <a href="/thiet-ke-web-doanh-nghiep.html">Thiết kế web doanh nghiệp</a>
                    </li>
                    <li>
                        <a href="/thiet-ke-web-nha-hang.html">Thiết kế web nhà hàng</a>
                    </li>
                    <li>
                        <a href="/thiet-ke-web-khach-san.html">Thiết kế website khách sạn</a>
                    </li>
                    <li>
                        <a href="/thiet-ke-web-bat-dong-san.html">Thiết kế website bất động sản</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg col-md-4 col-6">
                <div class="title">Quản lý bán hàng</div>
                <ul>
                    <li>
                        <a href="/quan-ly-cua-hang-thoi-trang.html">Cửa hàng thời trang</a>
                    </li>
                    <li>
                        <a href="/quan-ly-cua-hang-tap-hoa.html">Cửa hàng tạp hoá</a>
                    </li>
                    <li>
                        <a href="/quan-ly-sieu-thi-mini.html">Siêu thị mini</a>
                    </li>
                    <li>
                        <a href="/quan-ly-cua-hang-my-pham.html">Cửa hàng mỹ phẩm</a>
                    </li>
                </ul>
            </div>
            <hr style="border-top-color: #2b2a32; width: 100%; margin: 25px 0 30px;" class="d-block d-md-none">
            <div class="col-lg col-md-4 col-6">
                <div class="title">Hợp tác</div>
                <ul>
                    <li>
                        <a href="/doi-tac.html" rel="nofollow">Chương trình đối tác</a>
                    </li>
                    <li>
                        <a href="/nha-phat-trien-ung-dung.html" rel="nofollow">Nhà phát triển ứng dụng</a>
                    </li>
                    <li>
                        <a href="/nha-thiet-ke-giao-dien.html" rel="nofollow">Dành cho nhà thiết kế</a>
                    </li>
                    <li>
                        <a href="/nha-dau-tu.html" rel="nofollow">Dành cho nhà đầu tư</a>
                    </li>
                    <li>
                        <a href="/thiet-ke-website-mien-phi.html">Thiết kế website miễn phí</a>
                    </li>
                    <li>
                        <a href="/ten-mien-mien-phi.html" rel="nofollow">Tên miền miễn phí</a>
                    </li>
                    <li>
                        <a href="/dai-ly-ban-hang.html" target="_blank" rel="nofollow">Chương trình đại lý</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg col-md-4 col-6 d-block d-lg-none">
                <div class="title">Trợ giúp</div>
                <ul>
                    <li>
                        <a target="_blank" href="https://support.sapo.vn/" rel="nofollow">Trung tâm trợ giúp</a>
                    </li>
                    <li>
                        <a href="https://support.sapo.vn/tai-lieu-nha-phat-trien?utm_campaign=cpn:docs-plm:footer&amp;utm_source=sapo.vn&amp;utm_medium=referral&amp;utm_content=fm:text_link-km:-sz:&amp;utm_term=&amp;campaign=footer_sapo"
                           target="_blank" rel="nofollow">Tài liệu nhà phát triển</a>
                    </li>
                    <li>
                        <a href="https://support.sapo.vn/hinh-thuc-thanh-toan" rel="nofollow">Hình thức thanh
                            toán</a>
                    </li>
                    <li>
                        <a href="https://support.sapo.vn/huong-dan-dang-nhap-he-thong-sapo" rel="nofollow">Hướng dẫn
                            đăng nhập Sapo</a>
                    </li>
                    <li>
                        <a target="_blank" href="https://www.sapo.vn/blog">Blog Sapo</a>
                    </li>
                    <li>
                        <a href="//www.sapo.vn/seo-sapo-web.html" rel="nofollow">SEO Sapo Web</a>
                    </li>
                    <li>
                        <a href="https://support.sapo.vn/quy-dinh-su-dung" rel="nofollow">Quy định sử dụng</a>
                    </li>
                    <li>
                        <a href="https://support.sapo.vn/chinh-sach-bao-mat" rel="nofollow">Chính sách bảo mật</a>
                    </li>
                    <li>
                        <a href="/lien-he.html">Liên hệ</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="footer-address">
    <div class="container">
        <div class="row">
            <div class=" col-md-2">
                <div class="title">Trợ giúp</div>
                <ul>
                    <li>
                        <a target="_blank" href="https://support.sapo.vn/" rel="nofollow">Trung tâm trợ giúp</a>
                    </li>
                    <li>
                        <a href="https://support.sapo.vn/tai-lieu-nha-phat-trien?utm_campaign=cpn:docs-plm:footer&amp;utm_source=sapo.vn&amp;utm_medium=referral&amp;utm_content=fm:text_link-km:-sz:&amp;utm_term=&amp;campaign=footer_sapo"
                           target="_blank" rel="nofollow">Tài liệu nhà phát triển</a>
                    </li>
                    <li>
                        <a href="https://support.sapo.vn/hinh-thuc-thanh-toan" rel="nofollow">Hình thức thanh
                            toán</a>
                    </li>
                    <li>
                        <a href="https://support.sapo.vn/huong-dan-dang-nhap-he-thong-sapo" rel="nofollow">Hướng dẫn
                            đăng nhập Sapo</a>
                    </li>
                    <li>
                        <a target="_blank" href="https://www.sapo.vn/blog">Blog Sapo</a>
                    </li>
                    <li>
                        <a href="//www.sapo.vn/seo-sapo-web.html" rel="nofollow">SEO Sapo Web</a>
                    </li>
                    <li>
                        <a href="https://support.sapo.vn/quy-dinh-su-dung" rel="nofollow">Quy định sử dụng</a>
                    </li>
                    <li>
                        <a href="https://support.sapo.vn/chinh-sach-bao-mat" rel="nofollow">Chính sách bảo mật</a>
                    </li>
                    <li>
                        <a href="/lien-he.html">Liên hệ</a>
                    </li>
                </ul>
            </div>
            <div class=" col-md-2">
                <div class="title">Dịch vụ</div>
                <ul>
                    <li>
                        <a href="//www.sapo.vn/dang-ky-ten-mien.html">Đăng kí tên miền</a>
                    </li>
                    <li>
                        <a href="//www.sapo.vn/dich-vu-email-doanh-nghiep.html">Email doanh nghiệp</a>
                    </li>
                    <li>
                        <a href="/Themes/Portal/Default/Contents/bang-gia-dich-vu-support-don-le-sapo-x.pdf?v4"
                           target="_blank" rel="nofollow">Dịch vụ support</a>
                    </li>
                    <li>
                        <a href="//www.sapo.vn/xay-dung-chien-luoc-noi-dung.html">Dịch vụ chiến lược nội dung</a>
                    </li>
                    <li>
                        <a href="//www.sapo.vn/cham-soc-noi-dung.html">Dịch vụ chăm sóc nội dung</a>
                    </li>
                </ul>
                <div class="title shared-experience">
                    <div class="title">Thiết bị bán hàng</div>
                </div>

                <ul>
                    <li>
                        <a href="https://shop.sapo.vn/may-in-hoa-don-may-in-bill" target="_blank">Máy in hóa đơn</a>
                    </li>
                    <li>
                        <a href="https://shop.sapo.vn/may-in-ma-vach" target="_blank">Máy in mã vạch</a>
                    </li>
                    <li>
                        <a href="https://shop.sapo.vn/may-quet-ma-vach" target="_blank">Máy quét mã vạch</a>
                    </li>
                </ul>

            </div>
            <div class=" col-md-8">
                <div class="title">Liên hệ</div>
                <ul class="social">
                    <li>
                        <a href="https://www.facebook.com/sapo.vn/" target="_blank" rel="nofollow"
                           aria-hidden="true"><i class="fa fa-facebook-square"></i></a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/channel/UCXOMQd_gKgELyY_fhmPjI4w" target="_blank"
                           rel="nofollow" aria-hidden="true"><i class="fa fa-youtube"></i></a>
                    </li>
                    <li>
                        <a href="https://www.sapo.vn/blog" target="_blank" aria-hidden="true"><i
                                class="fa fa-weixin"></i></a>
                    </li>
                </ul>
                <div class="contact-info">
                    <p class="text-uppercase">Công ty cổ phần công nghệ Sapo (Sapo Technology JSC)</p>
                    <p><span>Trụ sở <i class="fa fa-map-marker"></i> </span>Tầng 6 - Tòa nhà Ladeco - 266 Đội Cấn -
                        Phường Liễu Giai - Quận Ba Đình - TP Hà Nội</p>
                    <p>
                        <span class="d-xl-inline d-block">Chi nhánh </span><i class="fa fa-map-marker"></i> Lầu 3 -
                        Tòa nhà Lữ Gia - Số 70 Lữ Gia - Phường 15 - Quận 11 - TP Hồ Chí Minh
                    </p>
                    <p>
                        <span style="visibility: hidden" class="d-none d-xl-inline">Chi nhánh </span><i
                            class="fa fa-map-marker"></i> Số 124 - Đường Lê Đình Lý - Phường Vĩnh Trung - Quận
                        Thanh Khê - TP Đà Nẵng
                    </p>
                    <p>
                        <span style="visibility: hidden" class="d-none d-xl-inline">Chi nhánh </span><i
                            class="fa fa-map-marker"></i> Số 127 - Đường Lý Thường Kiệt - Phường Lê Lợi - TP Vinh -
                        Tỉnh Nghệ An
                    </p>
                    <p><strong>Tổng đài tư vấn và hỗ trợ khách hàng: </strong><b>1800 6750</b></p>
                    <p><span>Email: </span><b>support@sapo.vn</b></p>
                    <p>Từ 8h00 – 22h00 các ngày từ thứ 2 đến Chủ nhật</p>
                </div>
                <a href="//support.sapo.vn/quy-dinh-su-dung" target="_blank" class="footer-bct-hanggia">
                    <img src="./image/bct-hanggia.png"
                         class="fade show">
                </a>
                <a href="http://online.gov.vn/Home/WebDetails/44190" target="_blank" rel="nofollow"
                   class="footer-bct">
                    <img src="./image/bocongthuong.png"
                         class="fade show">
                </a>
            </div>
        </div>
    </div>
</div>
<div class="footer-copyright">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-6 order-md-1 order-3">
                <p class="copyright"><span class="d-none d-lg-inline-block">Copyright © 2020&nbsp;</span><a
                        href="https://www.sapo.vn" target="_blank">Sapo.vn</a> - Nền tảng quản lý và bán hàng đa
                    kênh được sử dụng nhiều nhất Việt Nam</p>
            </div>
            <hr style="border-top-color: #2b2a32; width: 100%;margin:0;" class="d-block d-sm-none order-2">
            <div class="col-lg-5 col-md-6 order-md-2 order-1">
                <p class="achievement">
                    <span>Sản phẩm đạt giải: <br
                            class="d-block d-lg-none">Nhân tài Đất Việt 2013 &amp; Sao Khuê  2015</span>
                    <span class="icon-achievement"><img src="./image/icon-cup.png"
                                                        class="fade show"></span>
                </p>
            </div>
        </div>
    </div>
    <p class="copyright-mobile d-lg-none d-md-block d-none">© Copyright 2008 - 2020</p>
</div>
