<div id="header" class=" header">
    <div class="main-header d-flex align-items-center flex-wrap">
        <div class="container">
            <div class="row">
                <div class="col-xl-2 col-8 d-flex align-items-center">
                    <a id="logo" class="main-logo" href="/">
                        <img src="https://www.sapo.vn/Themes/Portal/Default/StylesV2/images/logo/Sapo-logo.svg?v=202005111015"
                             alt="Sapo logo" class="fade show">
                    </a>
                </div>
                <div class="col-xl-10 col-4 d-flex justify-content-end">
                    <ul class="main-menu d-none d-xl-flex align-items-center">
                        <li class="hasChild">
                            <a href="javascript:;">Sản phẩm <i class="fa fa-angle-down"></i></a>
                            <ul class="childMenu product">
                                <li>
                                    <a href="/phan-mem-quan-ly-ban-hang.html" class="d-flex align-item-start">
                                        <img src="./image/icon-pos.png" alt="" class="images">
                                        <div>
                                            <strong>Sapo POS</strong>
                                            <p>Phần mềm quản lý bán hàng tốt nhất cho cửa hàng &amp; bán online</p>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="/phan-mem-quan-ly-nha-hang.html" class="d-flex align-item-start">
                                        <img src="./image/icon-sapo-web.png" alt="">
                                        <div>
                                            <strong>Sapo FnB</strong>
                                            <p>Phần mềm quản lý nhà hàng, quán cafe toàn diện</p>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="/quan-ly-ban-hang-online.html" class="d-flex align-item-start">
                                        <img src="./image/icon-sapo-fnb.png" alt="">
                                        <div>
                                            <strong>Sapo GO</strong>
                                            <p>Quản lý bán hàng online dành cho người bán hàng trên Sàn và Facebook</p>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li><a href="price-table.html">Bảng giá </a></li>
                        <li><a href="/khach-hang.html">Khách hàng</a></li>
                        <li class="hasChild">
                            <a href="javascript:;">Thêm <i class="fa fa-angle-down"></i></a>
                            <ul class="childMenu other">
                                <li><a href="/ve-chung-toi.html">Về chúng tôi</a></li>
                                <li><a href="/sapo-la-gi.html">Sapo là gì?</a></li>
                                <li><a href="//www.sapo.vn/blog/" target="_blank">Blog</a></li>
                                <li><a href="/cong-van-chuyen-sapo-express.html">Sapo Express<span
                                        class="badge">New</span></a></li>
                                <li><a href="/sapo-affiliate.html">Giới thiệu khách hàng</a></li>
                                <li><a href="/bao-chi-noi-ve-sapo.html">Báo chí nói về Sapo</a></li>
                                <li><a href="//www.sapo.vn/blog/tin-su-kien-sapo/" target="_blank">Sapo updates</a></li>
                                <li><a href="//tuyendung.sapo.vn/" target="_blank">Tuyển dụng</a></li>
                                <li><a href="/lien-he.html">Liên hệ</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="d-none d-xl-flex justify-content-end">
                        <li>
                            <a href="https://support.sapo.vn" target="_blank">Trợ giúp</a>
                        </li>
                        <li class="login">
                            <a href="/dang-nhap-kenh-ban-hang.html">Đăng nhập</a>
                        </li>
                        <li class="d-flex align-items-center">
                            <a class="btn-registration" href="javascript:;">
                                <span>Dùng thử</span>
                            </a>
                        </li>
                    </ul>
                    <a class="d-inline-block d-xl-none btn-menu"
                       aria-hidden="true">
                        <i class="ti-menu"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>